/// Header
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 180px;
    .top-bar__logo-box {
      display: flex;
      flex-direction: column;
      align-content: center;
      gap: 10px;
      .top-bar__logo {
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #f1cdb3;
      }
      .top-bar__descr {
        font-family: "Arial";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        text-align: center;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: #ffffff;
      }
    }
  }
  .navigation {
  }
  .navigation__list {
    display: flex;
    gap: 36px;
    .navigation__li {
      .navigation__link {
        display: inline-flex;
        font-family: "Arial";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #cdcdcd;
        border-bottom: 3px solid transparent;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: #fafafa;
        }
        &:active {
          color: #fafafa;
          border-bottom: 3px solid #f1cdb3;
        }
      }
    }
  }
}


/// Main
/// Not-only

.not-only {
  position: relative;
  height: 75vw;
  max-height: 908px;
  background-image: radial-gradient(
    100% 215.42% at 0% 0%,
    #5b483a 0%,
    #262425 100%
  );
  .start-screen {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 180px);
    padding-top: 180px;
    align-items: center;
    .start-screen__section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 460px;
      gap: 42px;
      margin-bottom: 6.6%;
      h1 {
        display: inline-flex;
        width: 310px;
        font-family: "Georgia";
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 130%;
        color: #ffffff;
      }
      .start-screen__descr {
        font-family: "Arial";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #cdcdcd;
      }
    }
    .start-screen__dog {
      background-image: url("images/mainDog.png");
      width: calc(100% - 460px - 24px);
      margin-left: 24px;
      min-width: 350px;
      height: 100%;
      background-repeat: no-repeat;
      background-position-y: bottom;
      background-position-x: right;
      background-size: contain;
    }
  }
}

/// About

.main {
  .about {
    height: 588px;
    .about-section {
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: center;
      gap: 120px;
      padding: 80px 20px 100px 20px;
      .about-section__pictures {
        width: calc(100% - 550px);
        min-width: 240px;
        max-width: 300px;
        object-fit: contain;
      }
      .about-section__content {
        display: flex;
        flex-direction: column;
        width: 430px;
        justify-content: start;
        gap: 25px;
        padding: 14px 0;
        .about-section__title {
          width: 370px;
        }
      }
    }
  }
}
